<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <hr>
    <pre>
{% if path != "" %}<a href="../">../</a>
{% endif %}
{% for entry in entries %}{% if entry.entry_type == "Directory" %}<a href="{{ entry.path|basename }}/">{{ entry.path|basename }}/</a>
{% else %}<a href="{{ entry.path|basename }}">{{ entry.path|basename }}</a>                {{ entry.size|format_size }}    {{ entry.modified_at }}
{% endif %}{% endfor %}</pre>
    <hr>
</body>

</html>
